html {
    background-color: black;
    font-family: Verdana;
    color: white;
    text-align: center;
}

.header {
    font-size: 50px;
    font-weight: normal;
}

.link {
    color: aquamarine;
    font: 16 px;
}

.header--2 {
    font-size: 42px;
    font-weight: 300;
}

.header--3 {
    font-size: 21px;
    color: gray;
}

#phone {
    margin-top: 15px;
}

.logo {
    text-align: right;
    color: gray;
    margin-right: 150px;
}